.slidev-layout .theme-divider {
  border: none;
  border-top: var(--size-px) solid var(--color-primary-900);
  margin: 0;
  width: 100%;
}

.slidev-layout .theme-divider--muted {
  border-top-color: var(--color-gray-200);
}

.slidev-layout .theme-divider--dashed {
  border-top-style: dashed;
}

.slidev-layout .theme-divider--spacing-sm {
  margin-top: var(--size-2);
  margin-bottom: var(--size-2);
}

.slidev-layout .theme-divider--spacing-md {
  margin-top: var(--size-4);
  margin-bottom: var(--size-4);
}

.slidev-layout .theme-divider--spacing-lg {
  margin-top: var(--size-6);
  margin-bottom: var(--size-6);
}
